:root {
  --color-light-gray: #d3dbea;
  --color-blue: #4778d4;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-size-small: 12px;
  --font-size-body: 18px;
  --spacer: 8px;
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-4: calc(var(--spacer) * 4);
  --spacer-5: calc(var(--spacer) * 5);
  --spacer-6: calc(var(--spacer) * 6);
  --spacer-7: calc(var(--spacer) * 7);
  --spacer-8: calc(var(--spacer) * 8);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: 1.5;
}

.wrapper {
  max-width: 55ch;
  margin: var(--spacer-6) auto;
}

.tweet {
  border: 1px solid var(--color-light-gray);
  border-radius: 10px;
  margin-bottom: var(--spacer-2);
  padding: var(--spacer-4);
}

.tweet__text {
  margin-bottom: var(--spacer-2);
}

.tweet__text a {
  color: var(--color-blue);
}
